# Activar el motor de reescritura de URLs
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Forzar el uso de HTTPS para mayor seguridad
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Proteger archivos sensibles para que no sean accesibles desde el navegador
  <FilesMatch "^\.env|composer\.lock|package\.json|package-lock\.json$">
      Order allow,deny
      Deny from all
  </FilesMatch>

  # Redirigir todas las solicitudes que no correspondan a un archivo o directorio existente
  # al punto de entrada de la aplicación (index.php) para que Slim las maneje.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [QSA,L]
</IfModule>

# Opciones adicionales de cabeceras de seguridad
<IfModule mod_headers.c>
    # Previene que el sitio sea cargado en un iframe (protección contra clickjacking)
    Header always set X-Frame-Options "SAMEORIGIN"
    # Evita que el navegador intente adivinar el tipo de contenido (MIME type sniffing)
    Header always set X-Content-Type-Options "nosniff"
    # Activa la protección contra XSS en navegadores compatibles
    Header always set X-XSS-Protection "1; mode=block"
    # Controla qué información de "referrer" se incluye con las solicitudes
    Header set Referrer-Policy "no-referrer-when-downgrade"
</IfModule>

# Oculta la firma del servidor (versión de Apache/PHP) para no dar pistas a atacantes
ServerSignature Off
